@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');


:root {
  --header-font: 'Optima', serif;
  --text-font: 'Barlow', sans-serif;
  --primary-color: #141415;;
  --secondary-color: #FFFFFF;
  --grey-color: #777777;
  --button-hover-color: rgb(49, 47, 47);
  --black-color: #000000;
  --footer-links-color: #CDCDCD;
}

/* ***Optima font face*** */

@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: normal;
  src: local('Optima'), url('../font/OPTIMA.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Optima Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Optima Italic'), url('../font/Optima_Italic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Optima Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Optima Medium'), url('../font/Optima Medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Optima Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Optima Bold'), url('../font/OPTIMA_B.woff') format('woff');
  }

/* *** bootstrap override *** */
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* *** Preloader *** */
#preloader {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

#status {
  background: url('../../images/preloader.gif');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-top: 250px;
}



/* ***Banner Area*** */


header {
  background: url("../images/grunge_construction.jpg") rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center 34%;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  z-index: -9;
}


#countdown {
  display: flex;
  justify-content: space-between;
  font-weight: normal !important;
  font-family: var(--header-font) !important;
  color: var(--secondary-color) !important;
  font-weight: 600;
  margin-bottom: 50px;
  margin-top: 130px;
}

header .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .time {
  font-size: 80.8511px;
  line-height: 121px;
  font-weight: 600;
  padding: -10 !important;
}

header .label {
  font-size: 32.3404px;
  line-height: 49px;
  font-weight: 600;
  padding: 0 !important;
} 

header h2 {
  font-family: 'Optima Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  margin-bottom: 49px;
}

header h2 + p {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 35px;
  line-height: 52px;
  text-align: center;
  margin-bottom: 61px;
}

.header-input {
  width: 511px;
  height: 97px;
  padding-bottom: 8px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  padding-top: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  color: var(--primary-color);
 
}

/* .header-button:after {
  content: 'kbbm,n,jhkjmnm,';
  display: block;
  color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  right:20;
} */

::placeholder {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 42px;
  color: var(--grey-color);
}

.header-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 243px;
  height: 97px;
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  border-radius: 0px 5px 5px 0px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.coming-soon-plaster {
  position: absolute;
  width: 74px;
  height: 313px;
  left: 40.52px;
  top: -80px;
  transform: rotate(44.54deg);
  background-color: #CC0226;
  color: var(--secondary-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  flex-direction: column;
}

.coming-soon-plaster > p {
  position: absolute;
  transform: rotate(-89.65deg);
  width: 574px;
  left: -250px;
  top: 130px;
}


/* *** Main Section *** */

.main-section {
  padding-top: 100px;
  z-index: 100;
}

.main-top {
  padding-bottom: 126px;
}

.main-section h2 {
  margin-bottom: 158px;
  font-family: "Optima Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 67px;
  color: var(--primary-color);
}

.main-section h2 ~ p {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  color: var(--primary-color);
}




.step-1-container {
  position: relative;
  font-family: var(--text-font);
  margin-bottom: 344px;
}

.icon-one {
  width: 45px !important;
  height: 45px !important;
  border-radius: 5px !important;
  margin-bottom: 49px;
  margin-top: 151px;
}

.step-1-container h3 {
  margin-bottom: 36px;
  color: var(--secondary-color);
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
}

.step-1-container h3 + p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  font-style: normal;
}




.first-underlay {
  background-color: var(--primary-color);
  position: absolute;
  height: 740px;
  top: 100px;
  left: 0;
  right: 0;
  max-width: 100%;
  z-index: -999;
}



.icon-2 {
  width: 56px !important;
  height: 56px !important; 
  border-radius: 5px !important;
  bottom: -50px;
  left: 140px;
}


/* ****second image area*** */

.step-2-container {
  font-family: var(--text-font);
  margin-bottom: 278px;
}

.step-2-container h3 {
  margin-bottom: 36px;
  color: var(--primary-color);
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
}

.step-2-container h3 + p {
  color: var(--grey-color);
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  font-style: normal;
}

/* ****second image area*** */

.step-3-container {
  font-family: var(--text-font);
  margin-bottom: 182px;
}

.step-3-container h3 {
  margin-bottom: 36px;
  color: var(--primary-color);
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 42px;
}

.step-3-container h3 + p {
  color: var(--grey-color);
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  font-style: normal;
}

.step-2 {
  height: 1119px;

}

.step-2 .d-flex {
  height: 100%;
}

.step2-img  {
  width: 1042px !important;
  min-height: 700px !important;
  max-width: 100%;
}

