@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');


:root {
  --header-font: 'Optima', serif;
  --text-font: 'Barlow', sans-serif;
  --primary-color: #141415;;
  --secondary-color: #FFFFFF;
  --grey-color: #777777;
  --button-hover-color: rgb(49, 47, 47);
  --black-color: #000000;
  --footer-links-color: #CDCDCD;
}

/* ***Optima font face*** */

@font-face {
  font-family: 'Optima';
  font-style: normal;
  font-weight: normal;
  src: local('Optima'), url('../font/OPTIMA.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Optima Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Optima Italic'), url('../font/Optima_Italic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Optima Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Optima Medium'), url('../font/Optima Medium.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Optima Bold';
  font-style: normal;
  font-weight: bold;
  src: local('Optima Bold'), url('../font/OPTIMA_B.woff') format('woff');
  }

/* *** bootstrap override *** */
p {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* *** Preloader *** */
#preloader {
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
}

#status {
  background: url('../images/preloader.gif');
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  margin-top: 250px;
}



/* ***Banner Area*** */


header {
  background: url("../images/grunge_construction.jpg") rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-blend-mode: multiply;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  z-index: -9;
}


#countdown {
  display: flex;
  justify-content: space-between;
  font-weight: normal !important;
  font-family: var(--header-font) !important;
  color: var(--secondary-color) !important;
  font-weight: 600;
  margin-bottom: 64px;
  margin-top: 83px;
}

header .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .time {
  font-size: 5.053rem;
  line-height: 7.563rem;
  font-weight: 600;
  padding: -10 !important;
}

header .label {
  font-size: 2.021rem;
  line-height: 3.063rem;
  font-weight: 600;
  padding: 0 !important;
} 

header h2 {
  font-family: 'Optima Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 4.313rem;
  margin-bottom: 56px;
}

header h2 + p {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 2.188rem;
  line-height: 3.25rem;
  text-align: center;
  margin-bottom: 49px;
}

.header-input {
  width: 511px;
  max-width: 100%;
  height: 97px;
  padding-bottom: 8px;
  padding-left: 16px;
  /* display: flex;
  align-items: center; */
  padding-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.625rem;
  color: var(--primary-color);
  border-radius: 5px 0px 0px 5px !important;
}

/* .header-button:after {
  content: 'kbbm,n,jhkjmnm,';
  display: block;
  color: red;
  position: absolute;
  top: 0;
  bottom: 0;
  right:20;
} */

::placeholder {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.625rem;
  color: var(--grey-color);
}

.header-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 243px;
  height: 97px;
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 2.625rem;
  border-radius: 0px 5px 5px 0px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.darkmode--activated .header-button {
  background-color: #232323;
}

.coming-soon-plaster {
  position: absolute;
  width: 74px;
  height: 313px;
  left: 40.52px;
  top: -80px;
  transform: rotate(44.54deg);
  background-color: #CC0226;
  color: var(--secondary-color);
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.375rem;
  display: flex;
  flex-direction: column;
}

.coming-soon-plaster > p {
  position: absolute;
  transform: rotate(-89.65deg);
  width: 574px;
  left: -250px;
  top: 130px;
}

@media (max-width: 1025px) {
  header {
    max-height: 800px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
  }
}


@media (max-width: 797px) {
  .header-button {
    border-radius: 0 !important;
  }

  .header-input {
    border-radius: 0 !important;
  }
}

@media (max-width: 767px) {
  header .time {
    font-size: 3.6rem;
    line-height: 23px;
    margin-bottom: 30px;
  }

  header .label {
    font-size: 1.8rem;
    line-height: 9px;
  }

  header h2 {
    font-size: 2rem;
    line-height: 21px;
  }

  header h2 + p {
    font-size: 18px;
    line-height: 22px;
  }

  .header-input {
    height: 50px;
    width: 303.31px;
    padding-bottom: 10px;
    display: flex;
    font-size: 16px;
    border: none;
  }

  ::placeholder {
    font-size: 15.98969px;
  }

  .header-button {
    width: 137.66px;
    height: 50px;
    font-size: 16.94845px;
  }

}

@media (max-width: 540px) {
  header {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
  }


  .coming-soon-plaster {
    width: 28.27px;
    height: 119.56px;
    left: 20.52px;
    top: -25px;
  }

  .coming-soon-plaster > p {
    font-weight: 600;
    font-size: 0.964rem;
    line-height: 0.875rem;
    left: -273px;
    top: 50px;
  }

  header .time {
    font-size: 30.3719px;
    line-height: 23px;
    margin-bottom: 10px;
  }

  header .label {
    font-size: 15.14877px;
    line-height: 9px;
  }

  header h2 {
    font-size: 20px;
    line-height: 21px;
  }

  header h2 + p {
    font-size: 18px;
    line-height: 22px;
  }

  .header-input {
    width: 303.31px;
    padding-bottom: 10px;
    display: flex;
  }

  .header-button {
    width: 137.66px;
    line-height: 11px;
  }

}





/* *** Main Section *** */

.main-section {
  padding-top: 100px;
  z-index: 100;
}

.main-top {
  padding-bottom: 126px;
}

 .breakdown-heading {
  margin-bottom: 158px;
  font-family: "Optima Bold";
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.875rem;
  color: var(--primary-color);
}

.story-header {
  font-family: 'Optima Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 2.188rem;
  line-height: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 22px;
}

.story-header + p {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.313rem;
  color: var(--grey-color);
  margin-bottom: 77px;
}

.story-icon {
  width: 54px;
  height: 54px;
}

.story-section {
  margin-bottom: 157px;
}

.story-section h4 {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 2.125rem;
  color: var(--primary-color);
  margin-bottom: 0;
}

.story-icon-wrapper {
  margin-bottom: 33px;
}



.story-bullets p {
  font-family: var(--text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 1.313rem;
  line-height: 1.563rem;
  color: var(--grey-color)
}

.darkmode--activated .story-bullets p {
  color: rgba(255, 255, 255, 0.65);
}

.darkmode--activated .story-bullets p:hover {
  color: var(--secondary-color);
}

@media (max-width: 540px) {
  .story-icon {
    width: 31px;
    height: 31px;
  }

  .story-section h4 {
    font-size: 21px;
    line-height: 25px;
  }

  .story-bullets p {
    font-size: 18px;
    line-height: 30px;
  }

  .story-header {
    font-size: 21px;
    line-height: 24px;
  }

  .story-header + p {
    font-size: 18px;
    line-height: 30px;
  }
}




@media (min-width: 1441px) {
  .story-bullets, .story-header + p {
    max-width: 1440px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}




.step-1-container {
  position: relative;
  font-family: var(--text-font);
  margin-bottom: 344px;
  z-index: 1000;
}

.icon-one {
  width: 45px !important;
  height: 45px !important;
  border-radius: 5px !important;
  margin-bottom: 49px;
  margin-top: 151px;
}

.step-1-container h3 {
  font-family: 'Optima Bold';
  margin-bottom: 36px;
  color: var(--secondary-color);
  font-style: normal;
  font-weight: bold;
  font-size: 2.188rem;
  line-height: 2.5rem;
}

.step-1-container h3 + p {
  color: rgba(255, 255, 255, 0.7);
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-style: normal;
}




.first-underlay {
  background-color: var(--primary-color) !important;
  position: absolute;
  height: 740px;
  top: 100px;
  left: 0;
  right: 0;
  max-width: 100%;
  z-index: -999;
}



.icon-2 {
  width: 56px !important;
  height: 56px !important; 
  border-radius: 5px !important;
  bottom: -50px;
  left: 140px;
}

@media (max-width: 990px) {
  .icon-2 {
    position: static !important;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 769px) {
  .breakdown-heading {
    margin-bottom: 59px;
  }

  .step-1-container {
    background-color: var(--primary-color);
    padding-bottom: 70px;
    margin-bottom: 95px;
  }

  .icon-one {
    margin-top: 71px;
  }

  .step2-img {
    height: 300px !important;
  }
}

@media (max-width: 960px) {
  .step-1-container {
    margin-bottom: 50px;
  }
}

@media (max-width: 540px) {
  .breakdown-heading {
    font-size: 21px;
    line-height: 24px;
  }

  .step-1-container h3 {
    font-size: 21px;
    line-height: 24px;
  } 

  .step-1-container h3 + p {
    font-size: 18px;
    line-height: 30px;
  }
}


/* ****second image area*** */

.step-2-container {
  font-family: var(--text-font);
  margin-bottom: 278px;
}

.step-2-container h3 {
  font-family: 'Optima Bold';
  margin-bottom: 36px;
  color: var(--primary-color);
  font-style: normal;
  font-weight: bold;
  font-size: 2.188rem;
  line-height: 2.5rem;
}

.step-2-container h3 + p {
  color: var(--grey-color);
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-style: normal;
}

@media (max-width: 960px) {
  .step-2-container {
    margin-bottom: 26.47px;
  }
}


@media (max-width: 540px) {
  .step-2-container h3 {
    font-size: 21px;
    line-height: 24px;
  } 

  .step-2-container h3 + p {
    font-size: 18px;
    line-height: 30px;
  }
}

/* ****third image area*** */

.step-3-container {
  font-family: var(--text-font);
  margin-bottom: 182px;
}

.step-3-container h3 {
  margin-bottom: 36px;
  color: var(--primary-color);
  font-style: normal;
  font-weight: bold;
  font-size: 2.188rem;
  line-height: 2.5rem;
  font-family: 'Optima Bold';
}

.step-3-container h3 + p {
  color: var(--grey-color);
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.25rem;
  font-style: normal;
}

@media (max-width: 960px) {
  .step-3-container {
    margin-bottom: 100px;
  }
}

@media (max-width: 540px) {
  .step-3-container h3 {
    font-size: 21px;
    line-height: 24px;
  } 

  .step-3-container h3 + p {
    font-size: 18px;
    line-height: 30px;
  }
}

/* ****dashboard image area*** */

.dashboard-container {
  margin-bottom: 126px;
}

.dashboard-container h3 {
  margin-bottom: 75px;
  color: var(--primary-color);
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.875rem;
  font-family: 'Optima Bold';
}

.dashboard-container h3 + p {
  color: var(--grey-color);
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-style: normal;
}

.icon-dash {
  width: 45px !important;
  height: 45px !important;
  border-radius: 5px !important;
  margin-bottom: 49px;
}

.dashboard-img {
  width: 1200px;
  height: 1005px;
  max-width: 90%;
}

.dash-image-wrapper {
  position: relative;
  z-index: 1000;
}

.second-underlay {
  background-color: var(--primary-color);
  position: absolute;
  height: 970px;
  top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -999;

}

@media (max-width: 1025px) {
  .dashboard-img {
    height: 760px;
  }

  .second-underlay {
    height: 700px;
  
  }
}


@media (max-width: 960px) {
  .dashboard-img {
    height: 700px;
  }
}

@media (max-width: 540px) {
  .dashboard-container h3 {
    font-size: 21px;
    line-height: 24px;
  }
  .dashboard-img {
    height: 300px;
  }

}

/* ***preview section*** */
.preview-section {
  margin-bottom: 103px;
  background-color: var(--secondary-color);
}


.preview-section h2 {
  font-family: 'Optima Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.875rem;
  color: var(--primary-color);
  margin-bottom: 107px;
}

.preview-top {
  margin-bottom: 61px;
}

.popup-gallery img {
  width: 368px;
  height: 368px;
  max-width: 100%;
  object-fit: contain;
  z-index: -1;
}

.popup-gallery a {
  position: relative;
  height: 368px;
  transition: .5s ease;
  overflow: hidden;
}


/* 
.popup-gallery .preview-overlay {
  position: absolute;
  top:0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 999;
  transform: translate(-50%, -40%);
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  width: 100%;

} */

.preview-overlay{
  width:100%;
  height: 0;
  opacity: 0;
  position:absolute;
  top:0px;
  left:0px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity .4s ease-out;
  overflow: hidden;
}

 .preview-overlay div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.preview-overlay div p {
  color: var(--secondary-color);
  font-family: 'Optima';
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
}

.img-hover {
  width: 33px;
  height: 33px;
  margin-bottom: 23px;
}

.popup-gallery a:hover .preview-overlay {
  opacity: 1;
  height: 100%;
  z-index: 9999;
}

.mfp-close {
  color: black !important;
  font-size: 45px !important;
  margin-right: 20px !important;
  margin-top: 20px !important;
  cursor: pointer !important;
}


@media (max-width: 960px) {
  .preview-section {
    margin-bottom: 113px;
  }
}

@media (max-width: 540px) {
  .preview-section h2 {
    font-size: 21px;
    line-height: 24px;
  }
}

/* ***footer section */
footer {
  position: relative;
  padding-bottom: 40px;
  z-index: 1000;
}

footer h3 {
  font-family: 'Optima Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 2.875rem;
  color: var(--primary-color);
  margin-bottom: 24px;
}

footer p {
  color: var(--primary-color);
  font-family: var(--text-font);
  font-style: normal;
  font-weight: normal;
  font-size: 1.75rem;
  line-height: 2.625rem;
  margin-bottom: 41px;
}


@media (max-width: 769px) {
  footer {
    padding-bottom: 105px;
  }
}

@media (max-width: 540px) {
  footer h3 {
    font-size: 18px;
    line-height: 22px;
  }

  footer p {
    font-size: 18px;
    line-height: 22px;
  }
}






/* general styling for widgets */
.step2-img  {
  height: 700px;
  max-width: 100%;
}



/* ======================================================== */
/* Dark Mode Wahala */

.darkmode-toggle {
  z-index: 99999;
}

.darkmode--activated h3, .darkmode--activated h2, .darkmode--activated h4 {
  color: var(--secondary-color);
}

.darkmode--activated .stupid {
  color: var(--primary-color);
}

.darkmode--activated .story-header + p, .darkmode--activated .story-bullets p {
  color: rgba(255, 255, 255, 0.7);
}

/* .darkmode--activated .story-icon {
  background-color: rgba(255, 255, 255, 0.2) !important;
} */

.darkmode--activated footer p {
  color: var(--secondary-color);
}

.darkmode--activated .first-underlay, .darkmode--activated .second-underlay {
  background-color: #2E2E2E !important;
}


.darkmode-background {
  width: 100% !important;
}



/* *** general alignement for super large screens *** */
@media (min-width: 1441px) {
  .row {
    max-width: 1440px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}


/* Relating to pop up library */

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}



.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}
